.background-line {
  width:100%;
  text-align: center;
  border-bottom: .1rem solid var(--primary-color-light);
  line-height: 0.1em;
  margin: 1rem 0 2rem;
}

.foreground-line{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0 2rem 0 2rem;
  font-size: 4.5rem
}

.experience-head{
  background-color: var(--primary-color-medium);
}